.scroll-down__container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.scroll-down__arrow {
    height: 15px !important;
}

.scroll-down__arrow:nth-child(1) {
    animation: opacityChange1 1s infinite;
}
.scroll-down__arrow:nth-child(2) {
    animation: opacityChange2 1s infinite;
}
.scroll-down__arrow:nth-child(3) {
    animation: opacityChange3 1s infinite;
}


@keyframes opacityChange1 {
    0%, 100% {
        opacity: 0.2
    }
    33% {
        opacity: 1
    }
}
@keyframes opacityChange2 {
    0%, 33%, 100% {
        opacity: 0.2
    }
    66% {
        opacity: 1
    }
}
@keyframes opacityChange3 {
    0%, 66% {
        opacity: 0.2
    }
    100% {
        opacity: 1
    }
}