@import '~antd/dist/antd.css';

.ant-spin-dot-item {
    background-color: #FF0053 !important;
}
.ant-btn-primary {
    background-color: #FF0053 !important;
    border-color: #FF0053 !important;
    font-family: 'Orbitron', sans-serif !important;
}
.ant-pagination-item {
    background-color: #191B1F !important;
    border: 0 !important;
}
.ant-pagination-item a {
    color: #8A919A !important;
}
.ant-pagination-item-active a {
    color: #FF0053 !important;
}
.ant-pagination-item-active {
    background-color: #191B1F !important;
    border: 1px solid #FF0053 !important;
}
.ant-pagination-prev, .ant-pagination-item-link, .ant-pagination-next, .ant-pagination-item-link {
    background-color: #191B1F !important;
    border: 0 !important;
    color: #8A919A !important;
}
.ant-pagination-item-ellipsis {
    color: #8A919A !important;
}
.anticon-double-right, .anticon-double-left {
    color: #FF0053 !important;
}
.ant-select-selection {
    background-color: #191B1F !important;
    color: #8A919A !important;
    border: 0 !important;
}

html {
    background-color: #000000;
}
