.story-card__container {
    background-color: #131418;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.story-card__expanded {
    height: auto;
}

.story-card__title-container {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: calc(1.5em * 2);
}

.story-card__description-container {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5em;
    max-height: calc(1.5em * 3);
}

.story-card__container:hover {
    box-shadow: 0 0 0 1px #FF0053;
}

.story-card__thumb-container {
    width: 100%;
    height: 40%;
    background-color: #191B1F;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}

.story-card__tag {
    position: absolute;
    left: 10px;
    top: 10px;
}

.story-card__thumb-image {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.story-card__content {
    width: 100%;
    height: 60%;
    padding: 10px;
    position: relative;
}

.story-card__avatar {
    position: absolute;
    right: 10px;
    top: -15px;
}

.story-card__score-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px; 
    align-items: flex-end;
}

.story-card__score-icon {
    height: 10px;
    margin-right: 5px;
}